ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a7c0b5;
  }
li{
    float: left;
}
li a{
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: blue;
    text-align: center;
}
li:hover{
    background-color: black;
}
li a:hover{
    color: white;
}