table{
    border-collapse: collapse;
    width: 100%;
}
th , td{
    border: 3px solid black;
}
th{
    text-align: left;
    height: 70px;
    vertical-align: top;
    background-color: aquamarine;
}
td{
    height: 50px;
    vertical-align: bottom;
}
#one{
    background-color: rgb(95, 100, 98);
    color: azure;
}