body {
  background-color: rgb(169, 166, 163);
  color: black;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
button {
  background-color: black;
  border-radius: 8px;
  width: auto;
  height: 30px;
}
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
    color: white;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
    color: white;
  }
}
